body{
  font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    position: relative;
    min-height:86vh;
    padding-bottom:4rem;
}
:root{
    --color:#00916e;
}
.back{
    margin-left: 1rem;
}
.back button{
    cursor: pointer;
    background: none;
    border: none;
    margin: 0.8rem 2rem;
    display:flex;
    align-items: center;
    font-size: 2rem;
    font-weight:bold;
    margin-left: 0.5rem;
}
.back button:hover{
    color: var(--color);
}
.back img{
    text-align: center;
    height: 32px;
    margin-right: 0.5rem;
}

.first .photo{
    width:100%;
    height: 420px;
    background-image:url("/static/images/header.png");
    background-size:cover;
    background-position: 50%;
    margin-bottom: 3.5rem;
}

.width{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    }
.width-article{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    }

.first{
    margin-top: 150px;
}
.first .heading{
    text-align: center;
    margin: auto;
}
.first a{
    color:black;
}
.art-photo{
    height: 300px;}

/* ----------------------- my projects ------------------------*/
.projects{
      margin: 0;
      margin-top: 150px;
      padding: 0;
      box-sizing: border-box;

}

.container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 40px 20px 0 20px;
}

.heading{
      width: 50%;
      padding-bottom: 50px;
}
.heading h3{
      font-size: 3em;
      font-weight: bolder;
      padding-bottom: 10px;
      border-bottom: 3px solid #222;
}

.heading h3 span{
      font-weight: 100;
}

.tag-name h3{
    font-weight: 100;
     font-size: 2.5em;
     padding-bottom: 15px;
     padding-left: 30px;
  }

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.btn{
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;

}

.btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 2px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}

}

@media only screen and (max-width: 920px){

.heading h3{
  font-size: 2.3em;

}
.tag-name h3{
  font-size: 2.0em;
}}

/* ----------------------- end of my projects ------------------------*/

/*------------------------about me --------------------------------*/
.about{
    margin: 0;
    margin-top: 150px;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
.about .heading{
text-align: center;
margin: auto;
}

section .content{
    height: 100vh;
    display: flex;
    align-items: center;
}
.contain{

    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
      border-radius: 5px;
}
.right > *{
    margin-bottom: 1.1rem;

}
.right h4{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    background: var(--color);
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
}
.right h1{
    font-size: 2rem;
    font-weight: 800;
}
.right p{
    text-align: justify;
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.btn::after{
    content: "";
    background: var(--color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width .5s ease;
}
.btn:hover::after{
    width: 100%;
}
@media (max-width:768px){
    .grid{
        grid-template-columns: 1fr;
    }
}


/*------------------- end of about me ---------------------*/

/*------------------------contact--------------------------------*/

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: #e9f5f2;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: #daebe6;
}

textarea{
	min-height: 150px;
}

.field:focus{
    border: 2px solid #9bc9bb;
    background-color: #fff;
}


/*------------------- end of contact---------------------*/
/*--------------------main------------------------*/
.pocket{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;

}

.posts-container .post{
    width:100%;
    padding: 2rem;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 10px -2px rgba(95, 95, 95, 0.45);
    -moz-box-shadow: 1px 1px 10px -2px rgba(95, 95, 95, 0.45);
    box-shadow: 1px 1px 10px -2px rgba(95, 95, 95, 0.45);
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}
.posts-container .post a{
    color: black;
}

.posts-container .post .image{
    height: 30rem;
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}
.photo-category{
    width:100%;
    height: 420px;
    object-fit: cover;
    padding-bottom: 3.5rem;
}

.posts-container .post .date{
    padding-top: 2rem;
    color:var(--orange);
}

.posts-container .post .title{
    padding-top: 1.5rem;
    font-size: 2rem;
    color:var(--black);
}
.posts-container .post .text{
    font-size:1.1rem;
    color:var(--light-color);
    padding:1rem 0;
}

.posts-container .links{
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.posts-container .links .user{

    display:flex;
    align-items: center;
    margin-right: auto;
}

.posts-container .links .post-tags{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.posts-container .links .post-tags .tag{
    color: white;
    font-size: 0.8rem;
    background-color: var(--color);
    border-radius: 3px;
    padding: 0px 10px;
    display:flex;
    margin: 0px 10px;
    margin-bottom: 5px;
}


.posts-container .links .icon{
    display:flex;
    padding-right: 1rem;
}
 .posts-container .links .icon img{
    padding-right:0.3rem;
}
.posts-container .links a{
    font-size: 1.1rem;
    color:var(--light-color);
}

.posts-container .links a i{
    padding-right: .2rem;
    color:var(--black);
}

.pocket .posts-container .links a:hover{
    color:var(--orange);
}

.pocket .posts-container .links a:hover i{
    color:var(--orange);
}

.pocket .sidebar .sidebar-box{
    -webkit-box-shadow: 1px 1px 10px -2px rgba(95, 95, 95, 0.45);
    -moz-box-shadow: 1px 1px 10px -2px rgba(95, 95, 95, 0.45);
    box-shadow: 1px 1px 10px -2px rgba(95, 95, 95, 0.45);
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    margin-bottom: 1.5rem;
}

.pocket .sidebar .sidebar-box .title{
    padding:1.5rem;
    font-size: 1.5rem;
    background:var(--black);
    text-transform: capitalize;
}

.pocket .sidebar .sidebar-box .about-box{
    text-align: center;
    padding:1rem 1.5rem;
}

.pocket .sidebar .sidebar-box .about-box .about-image{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin:1rem 0;
}

.pocket .sidebar .sidebar-box .about-box h3{
    color:var(--orange);
    font-size: 1.7rem;
}

.pocket .sidebar .sidebar-box .about-box p{
    color:var(--light-color);
    font-size: 1.3rem;
    line-height: 1.5;
    padding:1rem;
}

.pocket .sidebar .sidebar-box .about-box .follow{

    display:flex;
    justify-content: space-between;
    margin: auto;
    padding:1rem 1rem;
}

.pocket .sidebar .sidebar-box .about-box .follow a{
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background:var(--black);
    font-size: 1.3rem;
    margin:0 .1rem;
}
.pocket .sidebar .sidebar-box .about-box .follow a img{
}
.pocket .sidebar .sidebar-box .about-box .follow a:hover{
    background:var(--orange);
}

.pocket .sidebar .sidebar-box .category{
    padding:1rem 1.5rem;
}

.pocket .sidebar .sidebar-box .category a{
    padding:.4rem 0;
    font-size: 1.3rem;
    color:var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pocket .sidebar .sidebar-box .category a span{
    border-radius: 50%;
    padding:.5rem;
}

.pocket .sidebar .sidebar-box .category a:hover{
    color:var(--color);
}

.pocket .sidebar .sidebar-box .category a:hover span{
    background-color:var(--color);
    color:#fff;
}

.pocket .sidebar .sidebar-box .p-post{

    padding:1rem 2rem;
}

.pocket .sidebar .sidebar-box .p-post a{
    color:#00916e;

    text-decoration: none;
    padding:1rem 0;
    display: block;
}

.pocket .sidebar .sidebar-box .p-post a h3{

    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.container .sidebar .sidebar-box .p-post a span{
    color:var(--light-color);
    font-size: 1.5rem;
}

.pocket .sidebar .sidebar-box .p-post a span i{
    padding-right: .2rem;
}

.pocket .sidebar .sidebar-box .p-post a:hover h3{
    color:var(--orange);
}

.pocket .sidebar .sidebar-box .tags{
    padding:1rem;
}

.pocket .sidebar .sidebar-box .tags a{
    display: inline-block;
    padding:1rem 1rem;
    font-size: 1.3rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    margin:.5rem;
}

.pocket .sidebar .sidebar-box .tags a:hover{
    background:var(--black);
    color:var(--color);
}
.posts-container .pages ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
    padding-bottom: 20px;
}
.posts-container .pages ul li{
    margin: 0px 30px;
    font-size: 1.2em;
    list-style: none;
}
.posts-container .pages ul .active{
    font-size: 1.4em;
    color: var(--color);

}
/*-----------------end of main----------------------*/

    footer{
        width: 100%;
        position:absolute;
        bottom:0;
        }
    footer .contact-footer{
        margin: 10px 25px;
        display:flex;
        justify-content: space-between;
        color: grey;
    }
/*-----------------media queries--------------------*/
@media (max-width:768px){
    .heading{
      width: 100%;
    }
    .heading h3{
        font-size: 1.9rem;
    }

    .back button{
        font-size: 1.2rem;
    }
    .back img{
        height: 20px;
    }

    .first .photo{
        height: 300px;
        object-fit: cover;
    }

    .pocket{
        grid-template-columns: 1fr;
        gap:0;
    }

    .posts-container .post .image{
    height: 25rem;
    }

    .photo-category{
        height: 300px;
    }

    .pocket .sidebar .sidebar-box .about-box .follow{
        margin: 0px 30px;
    }
    footer .contact-footer{
        font-size: 0.8rem;
    }
    .posts-container .pages ul{
        padding: 20px 0px;
        justify-content: center;
    }
}

@media (max-width:500px){
     footer .contact-footer{
            display:block;
            margin:auto;
            text-align:center;
    }
        .first .photo{
        height: 230px;
    }

    .posts-container .post .image{
    height: 20rem;
    }
    .photo-category{
        height: 230px;
    }

    .heading h3{
        font-size: 1.5rem;
    }
.tag-name h3{
  font-size: 1.5em;
}
    .posts-container .pages ul li{
        margin: 0px 20px;
        font-size: 1.0em;
    }
    .posts-container .pages ul li.active{
        font-size: 1.2em;
    }
}
/*------------------------COMMENTS-------------------*/
.comments{
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 900px;
    padding-bottom: 70px;
}
.comment {
    box-shadow: 1px 3px 10px -5px rgba(66, 68, 90, 0.36);
    margin-bottom: 15px;
    padding: 8px 20px;
    border-radius: 5px;
}
.leave-a-comment{
    box-shadow: none;
}
.name-and-date{
    display: flex;
    justify-content: space-between;
}
.name-and-date .comment-name{
   font-weight: bold;
    color: var(--color);
    font-size: larger;
}
.comment .comment-content{
    margin: 10px 10px;
}
.comment .comment-delete{
    margin: 0px 10px;
    border: none;
    color: grey;
    background: none;
    font-size: medium;
}
.comment .comment-delete:hover{
        color: var(--color);
}
.comments h2{
    padding: 15px 0px;
}


