{% extends 'base.html' %}
{% load static %}


{% block container %}


        <section class="post">
            <h1>Title</h1>
            <img class="art-photo" src="{% static 'images/christmas.jpg' %}" alt="article-photo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet metus eu nibh luctus,
                at mollis leo aliquet. Donec gravida, turpis ac varius fermentum, diam est dictum lectus,
                id lacinia ex tellus quis lacus. Aliquam quam magna, feugiat in urna euismod, suscipit varius odio.
                Duis eu congue mauris. Proin luctus, lacus sit amet commodo scelerisque, risus dolor sagittis massa,
                eget mollis eros elit in sapien. Quisque a quam eu mi posuere gravida sit amet at diam. Sed mattis
                at sagittis pellentesque. Donec in hendrerit felis, pellentesque posuere leo. Pellentesque
                venenatis porttitor rhoncus. Maecenas interdum vulputate neque, at lobortis purus hendrerit at.
                Nam a ipsum ut sem tristique malesuada. Praesent nec urna id ligula
                rutrum fermentum. Phasellus odio arcu, tincidunt consequat nibh non, sollicitudin faucibus odio.
                Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>

        </section>

{% endblock %}

</body>
</html>