{% extends 'base.html' %}
{% load static %}


{% block container %}

    <div class="photo">
        <img src="{% static 'images/main.jpg' %}"  alt="interior-design-photo"/>
    </div>

<section class="ideas-greeting">
    <p class="ideas-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed euismod mauris. Integer pulvinar ex vitae ipsum imperdiet,
        ac eleifend dolor eleifend. Etiam varius, massa ut vestibulum feugiat.
    </p>
</section>

    <section class="articles">

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

    </section>

    <section class="about-me">
          <div>
        <img src="" alt="owner-photo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed euismod mauris.
        Integer pulvinar ex vitae ipsum imperdiet, ac eleifend dolor eleifend, etiam varius.</p>
        </div>
    </section>


{% endblock %}
</body>
</html>