{% extends 'base.html' %}
{% load static %}


{% block container %}

    <div class="photo">
        <img src="{% static 'images/main.jpg' %}"  alt="interior-design-photo"/>
    </div>

<section class="ideas-greeting">
    <p class="ideas-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed euismod mauris. Integer pulvinar ex vitae ipsum imperdiet,
        ac eleifend dolor eleifend. Etiam varius, massa ut vestibulum feugiat.
    </p>
</section>

    <section class="articles">

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

        <div class="article">
            <h1></h1>
            <img src="" alt="article-image">
            <p></p>
        </div>

    </section>

    <section class="about-me">
          <div>
        <img src="" alt="owner-photo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed euismod mauris.
        Integer pulvinar ex vitae ipsum imperdiet, ac eleifend dolor eleifend, etiam varius.</p>
        </div>
    </section>

    <section class="archives">
        <div>
        <h1>Archives</h1>
        <ul>
            <li>2022</li>
            <li>may</li>
            <li>april</li>
            <li>february</li>
        </ul>
            </div>
    </section>

    <section class="categories">
          <div>
        <h1>Categories</h1>
        <ul>
            <li>minimalism</li>
            <li>christmas decor</li>
            <li>small bathrooms</li>

        </ul>
        </div>
    </section>

    <section class="contact">
    <div>
    <p>contact</p>
    <p>facebook</p>
    <p>instagram</p>
    <p>email</p>
        <p>copytight</p>
    </div>
    </section>

{% endblock %}
</body>
</html>