{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome to my blog {% endblock %}

{% block container %}

<div class="first">
            <div class="heading">
      <h3>Welcome<span> to my Blog</span></h3>
    </div>
<div class="photo">
</div>
<!-- posts section starts  -->
<div class="width">
<section class="pocket" id="posts">

    <div class="posts-container">
        {% include 'blog/pagination.html' %}
    {% for post in posts %}
        <div class="post">

            <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image.url }}" class="image" alt="{{ post.title }}"/>
            <div class="date">
                <i class="far fa-clock"></i>
                <span>{{ post.published }}</span>
            </div>
            <h3 class="title">{{ post.title|title }}</h3>
            <p class="text">{{ post.content|slice:":300" }}...</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <p>by {{ post.author|capfirst }}</p>
                </a>
                <a href="#" class="icon">
                    <img src="{% static 'images/chat.png' %}" alt="comments">
                    <p>(45)</p>
                </a>

            </div>
        </a></div>
    {% endfor %}
        <!----------   pagination     ------------->
       {% include 'blog/pagination.html' %}
                <!----------    end of pagination     ------------->
    </div>

{% include 'blog/sidebar.html' %}
</section>
</div>
</div>
{% endblock %}
