 <div class="pages">
            {% if posts.has_other_pages %}
            <ul>
                {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&larr;</a></li>
                {% else %}

                {% endif %}

                {% for item in posts.paginator.page_range %}
                    {% if posts.number == item %}
                        <li class="active">{{ item }}</li>
                    {% else %}
                        <li><a href="?page={{ item }}">{{ item }}</a> </li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}">&rarr;</a></li>
                {% else %}

                {% endif %}
            </ul>
            {% endif %}
        </div>