{% extends 'base.html' %}
{% load static %}
{% block title %} Tag #{{ tag.name }} {% endblock %}

{% block container %}

<div class="first">
            <div class="heading">
      <h3>Articles</span></h3>
    </div>
<div class="photo">
</div>
<!-- posts section starts  -->
<div class="width">
            <div class="tag-name">
    <h3>#{{ tag.name }}</h3></div>
<section class="pocket" id="posts">

    <div class="posts-container">
    {% include 'blog/pagination.html' %}

    {% for post in posts.object_list %}
        <div class="post">

            <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image.url }}" class="image" alt="{{ post.title }}"/>
            <div class="date">
                <i class="far fa-clock"></i>
                <span>{{ post.published }}</span>
            </div>
            <h3 class="title">{{ post.title }}</h3>
            <p class="text">{{ post.content|slice:":300" }}...</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <p>by {{ post.author }}</p>
                </a>
                <a href="#" class="icon">
                    <img src="{% static 'images/chat.png' %}" alt="comments">
                    <p>(45)</p>
                </a>

            </div>
        </a></div>
    {% endfor %}
                <!----------   pagination     ------------->
    {% include 'blog/pagination.html' %}

    </div>


{% include 'blog/sidebar.html' %}
</section>
</div>
{% endblock %}
</div>