<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


<title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<!--        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>-->

</head>
<body>

<header>
        <a href="{% url 'blog:blog' %}" class="logo">Design Blog</a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">Menu</label>
     <nav class="navbar">
         <ul>
             <li><a href="#">Categories +</a>
             <ul>
                {% for category in cats %}
                 <li><a href="{% url 'blog:categories' category.id %}">{{ category.title }}</a></li>
                {% endfor %}
             </ul></li>
             <li><a href="{% url 'blog:about_me' %}">About me</a></li>
             <li><a href="{% url 'blog:projects' %}">My projects</a></li>
             <li><a href="{% url 'blog:contact' %}">Contact</a></li>

         </ul>
     </nav>
</header>



{% block container %}

{% endblock %}
<footer>
<div class="contact-footer">
    <p>email@example.com</p>
    <p>&#169; 2022 Created by Monika Karawan</p>
    <p>+00 123-456-7890</p>
    </div>
    </footer>
<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>